html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}

.main_heading {
  margin-top: .7em;
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  margin: 0;
  display: flex;
  justify-content: space-between;
}

.navbar a {
  padding: .5em;
  text-decoration: none;
}

.cover {
  width: 100%;
  height: auto;
  margin: 1em 0;
}

.egyptian_dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food_img {
  width: 100%;
  height: auto;
  margin: 1em;
}