@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans+Condensed:wght@300;700&display=swap");

html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
}

body {
  width: 95%;
  margin: 0 auto;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.main_heading {
  margin: 0;
  padding: 1em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 700;
  font-size: 2.2em;
  color: #fff;
  background-color: #dbae56;
  text-align: center;
  text-transform: capitalize;
}

.navbar {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #468a8f;
}

.navbar a {
  padding: 0.5em;
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.3em;
  color: #fff;
  text-decoration: none;
}

.cover {
  width: 100%;
  height: auto;
  margin: 0;
}

.intro_heading {
  margin: 0;
  padding: 0.6em;
  font-family: "Open Sans Condensed", sans-serif;
  font-weight: 700;
  font-size: 1.4em;
  color: #fff;
  background-color: #db8c81;
  text-transform: capitalize;
}

.intro > p {
  line-height: 1.4em;
}

.dish {
  margin-bottom: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cuisine_name {
  margin-bottom: 0;
  padding: 0.6em;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 1.4em;
  color: #fff;
  background-color: #8f554d;
}

.cuisine_dishes > :first-child .dish_img {
  margin-top: 0;
}

.dish_img {
  width: 100%;
  height: auto;
  margin: 1em 1em 0.5em 1em;
}

.dish_content {
  width: 100%;
}

.dish_content > h4 {
  margin-top: 1em;
  margin-bottom: 0;
  color: #8f554d;
  text-transform: uppercase;
}

.dish_content > p {
  margin: 0.5em 0;
  line-height: 1.4em;
}

.dish_link:link {
  font-weight: bold;
  color: #468a8f;
  text-decoration: none;
}

.dish_link:visited {
  color: #468a8f;
}

.dish_link:hover {
  color: #db8c81;
}

footer {
  font-family: "Open Sans Condensed", sans-serif;
  font-size: 1.1em;
  font-weight: 700;
  padding: 0.3em;
  color: #fff;
  background-color: #dbae56;
  text-align: center;
}
