html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit;
  }

body {
  width: 80%;
  margin: 0 auto;
  padding: 0;
}

body.cover {
  width: 100%;
  height: auto;
  margin-top: 1em;
}

.egyptian_dish {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.food_img {
  width: 100%;
  height: auto;
  margin: 1em;
}